@import url("https://fonts.googleapis.com/css?family=Volkhov:400,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 70px;
  font-family: "Volkhov";
}

body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}

main {
  max-width: 900px;
  margin: auto;
  padding: 1rem;
  padding-top: 150px;
  line-height: 1.5;
  font-size: 29px;
}

.banner {
  padding: 60px;
  text-align: center;
  background: #d82e2e;
  color: white;
  font-size: 3em;
}

nav {
  overflow: hidden;
  background-color: #4f4d4d;
  text-align: right;
  width: 600px;
}

nav a {
  display: inline-block;
  color: #f2f2f2;

  padding: 14px 16px;
  text-decoration: none;
  font-size: 1.2em;
}

nav a:hover {
  background-color: #ddd;
  color: black;
}

nav a.active {
  background-color: #ad1912;
  color: white;
}

input[type="submit"] {
  width: 100%;
  background-color: #8b0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.05em;
}

input[type="submit"]:hover {
  background-color: #8b0000;
}

button {
  background-color: #8b0000;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.05em;
}
