@import url("https://fonts.googleapis.com/css?family=Bungee Spice:400,700&display=swap");

.movie_name {
  font-size: 40px;
}

.movie_body {
  padding-top: 50px;
}

body {
  font-size: 15px;
}

.movie_table {
  border: 5px;
}

.movie_body {
  padding: 10px;
}

.addmovie {
  padding-bottom: 50px;
  padding-right: 450px;
}

.review_table {
  padding: 10px;
}

.banner {
  padding: 60px;
  text-align: center;
  background: #d82e2e;
  color: white;
  font-size: 3em;
}

.movie_button {
  width: 100%;
}

.text {
  text-align: right;
}

.table_header {
  text-align: center;
}

.movie_description {
  text-align: left;
}
