{% extends "base.html" %} {% block content %}

<h1 class="movie_name">{{movie['movie_name']}}</h1>
<h2>{{movie['release_date']}} {{movie['genre']}}</h2>
<p class="movie_body">{{movie['movie_description']}}</p> <br>
<h2>{{movie['movie_name']}} Reviews</h2>

<table class="movie_table">
  <thead>
    <th>title</th>
    <th>review date</th>
    <th>rating</th>
    <th>review</th>
    <th>username</th>
  </thead>

  <tbody class=".review_table">
    {%for review in reviews%}
    <tr>
      <td class="review_body">{{ review['title']}}</td>
      <td class="review_body">{{ review['review_date']}}</td>
      <td class="review_body">{{ review['rating']}}</td>
      <td class="review_body">{{ review['review_text']}}</td>
      <td>{{ review['username']}}</td>
        <a href="/editreview/{{review['id']}}">
          {% if session['username'] %}
          <td>
            <button>Edit review</button>
          </td>
          {% endif %}
        <a href="/deletereview/{{review['id']}}">
          {% if session['username'] %}
          <td>
            <button>Delete review</button>
          </td>
          {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="/addreview/{{movie['id']}}">
  {% if session['username'] %}
  <br />
  <button>Add review</button>
  {% endif %}</a
>

{% endblock %}
