{% extends "base.html" %} {% block content %}
<a href="/addmovie" class="addmovie"><button>Add movie</button></a>
<body class="text">
  Here is where you can view the full list of movies that are available to view
  and review!
  <br />
</body>

<table class="movie_table">
  <thead>
    <th>movie_name</th>
    <th>release_date</th>
    <th>movie_description</th>
    <th>genre</th>
  </thead>

  <tbody>
    {%for movie in movies%}
    <tr>
      <td>
        <a href="/movie/{{movie['id']}}"
          ><button>{{ movie['movie_name']}}</button></a
        >
      </td>
      <td>{{ movie['release_date']}}</td>
      <td>{{ movie['movie_description']}}</td>
      <td>{{ movie['genre']}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
